@charset "utf-8";
a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: #000;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

